.transactionHistory {
    margin: 0 auto;
    width: 600px;
    /* text-align: center; */
}

thead {        
    height: 50px;
    background-color: rgb(152, 191, 228);
    text-transform: uppercase;
    color: white;
    text-align: left;
    
}

tbody {
    
    text-transform: capitalize;
}

th {
    padding-left: 20px;
}

 td {
    padding-left: 20px;
    padding-bottom: 10px;
} 
tr:nth-child(2n) {
    background-color: antiquewhite;
}